<h1>Event #<%= @event.id %></h1>

<p><strong>Title:</strong> <%= @event.title %></p>
<p><strong>Description:</strong> <%= @event.description %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Date:</strong> <%= @event.event_date %></p>
<p><strong>Time:</strong> <%= @event.start_time&.strftime("%H:%M") %> - <%= @event.end_time&.strftime("%H:%M") %></p>
<p><strong>Status:</strong> <%= @event.status %></p>
<p><strong>Required volunteers:</strong> <%= @event.required_number_of_volunteers %></p>
<p><strong>Approved volunteers:</strong> <%= @event.approved_volunteer_count %></p>

<p>
  <%= link_to "Edit", edit_admin_area_event_path(@event) %> |
  <%= link_to "Back to list", admin_area_events_path %>
</p>
